In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.DataFrame({
    'colA':[None, False, False, True], 
    'colB': [None, 2, None, 4],
    'colC': [None, 'b', 'c', 'd'],
    'colD': [None, 2.0, 3.0, 4.0],
})

In [3]:
df.head()

    colA  colB  colC  colD
0   None   NaN  None   NaN
1  False   2.0     b   2.0
2  False   NaN     c   3.0
3   True   4.0     d   4.0

In [46]:
class dropRows(object):
#     def removeRowByName(self,source_df,colName):
#         source_df_ColRemoved = source_df.drop(columns=colName,axis=1)
#         return source_df_ColRemoved
#     def removeMultipleRowsByName(self,source_df,colName):
#         source_df_ColRemoved = source_df.drop(columns=colName,axis=1)
#         return source_df_ColRemoved
#     ###############################################################################
    def removeSingleRowByIndex(self,source_df,indexNum):
        source_df_RowRemoved = source_df.drop(index=indexNum,axis = 0)
        return source_df_RowRemoved
    def removeMultiRowsByIndex(self,source_df,indexNum):
        source_df_RowRemoved = source_df.drop(index=indexNum,axis = 0)
        return source_df_RowRemoved
    def removeRowsWithAtleastOneNull(self,source_df):
        source_df_RowRemoved = source_df.dropna()
        return source_df_RowRemoved
    def removeRowsWithAllNulls(self,source_df):
        source_df_RowRemoved = source_df.dropna(how='all')
        return source_df_RowRemoved
    def removeSubsetOrRowsWithNulls(self,source_df,cols):
        source_df_RowRemoved = source_df.dropna(subset=cols)
        return source_df_RowRemoved
    def removeSubsetAndRowsWithNulls(self,source_df,cols):
        source_df_RowRemoved = source_df.dropna(subset=cols, how='all')
        return source_df_RowRemoved
    def removeRowsWithThresh(self,source_df,threshold=0.4):
        source_df_RowRemoved = source_df.dropna(thresh=threshold)
        return source_df_RowRemoved

In [47]:
obj = dropRows()

In [48]:
df_shape_original = df.shape
df_shape_original

(4, 4)

In [49]:
# Lets Remove Single Row by Index
df_ColRemoved = obj.removeSingleRowByIndex(df,2)
df_ColRemoved.head()

    colA  colB  colC  colD
0   None   NaN  None   NaN
1  False   2.0     b   2.0
3   True   4.0     d   4.0

In [50]:
### Result ..... 
df_shape_After = df_ColRemoved.shape
df_shape_After

(3, 4)

In [51]:
#############################################################################################################################

In [52]:
df_shape_original = df.shape
df_shape_original

(4, 4)

In [53]:
# Lets Remove Multi Rows by Index
df_ColRemoved = obj.removeSingleRowByIndex(df,[1,3])
df_ColRemoved.head()

    colA  colB  colC  colD
0   None   NaN  None   NaN
2  False   NaN     c   3.0

In [54]:
## Lets remove rows having atleast one null value
df_ColRemoved = obj.removeRowsWithAtleastOneNull(df)
df_ColRemoved.head()

    colA  colB colC  colD
1  False   2.0    b   2.0
3   True   4.0    d   4.0

In [55]:
### Result ..... 
df_shape_After = df_ColRemoved.shape
df_shape_After

(2, 4)

In [56]:
#############################################################################################################################

In [57]:
df_shape_original = df.shape
df_shape_original

(4, 4)

In [58]:
df.head()

    colA  colB  colC  colD
0   None   NaN  None   NaN
1  False   2.0     b   2.0
2  False   NaN     c   3.0
3   True   4.0     d   4.0

In [59]:
## Lets remove rows having all null values
## drop all the rows whose columns’ values are all null

df_ColRemoved = obj.removeRowsWithAllNulls(df)
df_ColRemoved.head()

    colA  colB colC  colD
1  False   2.0    b   2.0
2  False   NaN    c   3.0
3   True   4.0    d   4.0

In [60]:
### Result ..... 
df_shape_After = df_ColRemoved.shape
df_shape_After

(3, 4)

In [61]:
#############################################################################################################################

In [62]:
df_shape_original = df.shape
df_shape_original

(4, 4)

In [63]:
## Lets remove rows having subsets, like if col A OR colB has nulls then remove

df_ColRemoved = obj.removeSubsetOrRowsWithNulls(df,['colA','colB'])
df_ColRemoved.head()

    colA  colB colC  colD
1  False   2.0    b   2.0
3   True   4.0    d   4.0

In [64]:
### Result ..... 
df_shape_After = df_ColRemoved.shape
df_shape_After

(2, 4)

In [65]:
#############################################################################################################################

In [66]:
df_shape_original = df.shape
df_shape_original

(4, 4)

In [67]:
## Lets remove rows having subsets, like if col A AND colB has nulls then remove

df_ColRemoved = obj.removeSubsetAndRowsWithNulls(df,['colA','colB'])
df_ColRemoved.head()

    colA  colB colC  colD
1  False   2.0    b   2.0
2  False   NaN    c   3.0
3   True   4.0    d   4.0

In [68]:
### Result ..... 
df_shape_After = df_ColRemoved.shape
df_shape_After

(3, 4)

In [69]:
#############################################################################################################################

In [76]:
df_shape_original = df.shape
df_shape_original

(4, 4)

In [109]:
## Lets remove rows with some kind of threshold to remove
## For instance, if you want to drop all the columns that have more than one null values, then you need to specify thresh to be len(df.columns) — 1

df_ColRemoved = obj.removeRowsWithThresh(df,threshold=(lengthOfDataset-1))
df_ColRemoved.head()

    colA  colB colC  colD
1  False   2.0    b   2.0
2  False   NaN    c   3.0
3   True   4.0    d   4.0

In [110]:
### Result ..... 
df_shape_After = df_ColRemoved.shape
df_shape_After

(3, 4)